body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2E3A8C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}
.button {
    background-color: #4C5B9C;
    border: none;
    color: white;
    padding: 10px 20px; /* padding */
    text-align: center; /* Center text alignment */
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
    width: 200px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    box-sizing: border-box; /* Include padding and border in width/height */
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Prevent wrapping of text */
    text-overflow: ellipsis; /* Use ellipsis for overflow text */
}
.button img {
    margin-right: 10px;
    height: 30px; /* Fixed height for image */
    width: 30px; /* Fixed width for image */
}
a.button {
    text-decoration: none; /* Ensures that the anchor text is not underlined */
}
